.container {
  --zig-zag-size: var(--spacing-5);
  --color: var(--color-indigo-500);
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--spacing-8);
  margin-top: calc(var(--spacing-4) * -1);
  margin-bottom: var(--spacing-6);

  & > * {
    z-index: 1;
    margin: 0 var(--spacing-4);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    margin-left: calc(var(--spacing-4) * -1);
    background-color: var(--color);

    @media (--medium-viewport) {
      margin-left: calc(var(--spacing-6) * -1);
    }
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: calc(var(--zig-zag-size) / 2 * -1.1);
    width: 100vw;
    height: calc(var(--zig-zag-size) / 2 + var(--spacing-2));
    margin-left: calc(var(--spacing-4) * -1);
    background: linear-gradient(
        -45deg,
        transparent var(--zig-zag-size),
        var(--color) 0
      ),
      linear-gradient(45deg, transparent var(--zig-zag-size), var(--color) 0);
    background-repeat: repeat-x;
    background-position: left top;
    background-size: var(--zig-zag-size) var(--zig-zag-size);

    @media (--medium-viewport) {
      margin-left: calc(var(--spacing-6) * -1);
    }
  }
}
