.row {
  position: relative;
  display: grid;
  grid-template: var(--spacing-5) / 1fr 1fr 1fr;
  grid-column-gap: var(--spacing-4);
  grid-row-gap: var(--spacing-3);
  align-items: center;
  padding: var(--spacing-4);

  &[aria-expanded='true'] {
    grid-template: var(--spacing-5) var(--spacing-11) / 1fr 1fr 1fr;
  }

  &[aria-selected='true'] {
    background-color: var(--color-yellow-vivid-100);
  }

  &::before {
    content: '';
    position: absolute;
    top: calc(var(--spacing-2) / 2 * -1);
    display: block;
    width: 100%;
    height: var(--spacing-2);
    background-image: var(--type-gradient);
  }

  @media (--only-small-viewport) {
    &:only-child {
      grid-template: var(--spacing-5) var(--spacing-5) / 0.75fr 1.25fr;

      & .actions {
        width: 100%;
        grid-column: span 2;
        justify-content: space-between;
      }

      & .details {
        margin-top: var(--spacing-2);
        grid-column: span 2;
      }

      &[aria-expanded='true'] {
        grid-template: var(--spacing-5) var(--spacing-5) / 0.75fr 1.25fr;
      }
    }
  }
}

:global(.is-compressed-list) .row {
  grid-template: var(--spacing-5) var(--spacing-5) / 0.75fr 1.25fr;

  & .actions {
    width: 100%;
    grid-column: span 2;
    justify-content: space-between;

    & > * {
      width: 100%;
    }
  }

  & .details {
    margin-top: var(--spacing-2);
    grid-column: span 2;
  }

  &[aria-expanded='true'] {
    grid-template: var(--spacing-5) var(--spacing-5) var(--spacing-11) / 0.75fr 1.25fr;
  }
}

.value {
  color: var(--color-sherpa-blue-800);
  line-height: 1;

  &:nth-child(even) {
    margin-left: var(--spacing-2);
  }
}

.stat {
  margin-right: var(--spacing-3);
  font-weight: 700;
  white-space: nowrap;
}

.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-column: span 3;
  align-self: flex-start;
}

.description {
  width: 100%;
  margin: var(--spacing-2) 0 0;
}

.types {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin: 0;
  padding-left: 0;
  list-style: none;

  .is-spacious-list & {
    justify-content: center;
  }

  & > * {
    margin-right: var(--spacing-2);

    &:last-child {
      margin-right: 0;
    }
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding-left: 0;
  list-style: none;

  & > * {
    margin-right: var(--spacing-2);

    &:last-child {
      margin-right: 0;
    }
  }
}
