@tailwind base;

@layer base {
  :root {
    --baseline: 1.5;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  html {
    @apply box-border overflow-x-hidden;
    @apply text-cool-grey-900 font-sans text-base bg-cool-grey-100 antialiased;
  }

  ::selection {
    @apply text-cool-grey-900 bg-yellow-vivid-200;
  }

  body {
    @apply m-0;
  }

  p {
    @apply my-4 text-base;
  }

  /*
  @keyframes spaceUpOut {
    from {
      @apply opacity-100 origin-center scale-100 translate-x-0 translate-y-0 transform-gpu;
    }

    to {
      @apply opacity-0 origin-center scale-50 translate-x-0 -translate-y-full transform-gpu;
    }
  } */
}

@tailwind components;

@layer components {
  .spinner {
    @apply relative border-8 border-cool-grey-200 animate-spin rounded-full w-6 h-6;
    border-left-color: var(--colors-cool-grey-600);
  }

  .spinner-small {
    @apply w-4 h-4 border-4;
  }

  .spinner-white {
    @apply border-white border-opacity-50;
    border-left-color: var(--colors-white);
  }

  .move-line-template {
    @apply grid;
    grid-template: var(--spacing-5) / 1fr 1fr 1fr;
  }

  .move-line-template[aria-expanded='true'] {
    grid-template: var(--spacing-5) var(--spacing-11) / 1fr 1fr 1fr;
  }

  .move-line-template::before {
    content: '';
    @apply absolute block -top-1 w-full h-2;
    background-image: var(--type-gradient);
  }

  .move-line-template-compressed {
    grid-template: var(--spacing-5) var(--spacing-5) / 0.75fr 1.25fr;
  }

  .move-line-template-compressed[aria-expanded='true'] {
    grid-template: var(--spacing-5) var(--spacing-5) var(--spacing-11) / 0.75fr 1.25fr;
  }

  .move-line-template-compressed .move-line-template-actions {
    @apply w-full col-span-2 justify-between;
  }

  .move-line-template-compressed .move-line-template-details {
    @apply mt-2 col-span-2;
  }
}

@tailwind utilities;

@layer utilities {
  .zig-zag-top-white {
    --size: var(--spacing-5);
    @apply relative;
  }

  .zig-zag-top-white::before {
    content: '';
    @apply absolute left-0 w-full bg-repeat-x;
    top: calc(var(--size) / 2 * -1);
    height: calc(var(--size) / 2);
    background: linear-gradient(
        -45deg,
        var(--colors-white) var(--size),
        transparent 0
      ),
      linear-gradient(45deg, var(--colors-white) var(--size), transparent 0);
    background-position: var(--spacing-4) top;
    background-size: var(--size) 3.2rem;

    @screen md {
      background-position: calc(var(--size) / 2) top;
    }
  }

  .shadow-text {
    text-shadow: 0 1px 0px var(--colors-cool-grey-900),
      1px 0 0px var(--colors-cool-grey-800),
      1px 2px 0px var(--colors-cool-grey-900),
      2px 1px 0px var(--colors-cool-grey-800),
      2px 3px 0px var(--colors-cool-grey-900),
      3px 2px 0px var(--colors-cool-grey-800);
  }

  .perspective {
    transform: perspective(1px) translateZ(0);
  }
}
