.base {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: auto;
  min-height: var(--spacing-8);
  overflow: hidden;
  padding: 0 var(--spacing-6);
  color: var(--color-white);
  font-family: var(--font-family);
  font-size: var(--font-size-lg);
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--color-cyan-vivid-700);
  border: none;
  border-radius: var(--border-radius-lg) 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transform: perspective(1px) translateZ(0);
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    background-color: var(--color-cyan-vivid-600);
    transform: scale(2);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  &:hover::before,
  &:focus::before,
  &:active::before {
    transform: scale(0);
  }

  &[disabled] {
    &,
    &::before {
      background-color: var(--color-cool-grey-300);
    }
  }
}

.icon {
  margin-left: calc(var(--spacing-2) * -1);
  margin-right: var(--spacing-3);
}

.is-tiny,
.is-small {
  background-color: var(--color-cyan-vivid-800);

  &::before {
    background-color: var(--color-cyan-vivid-700);
  }
}

.is-tiny {
  min-height: var(--spacing-5);
  padding: 0 var(--spacing-3);
  font-size: var(--font-size-sm);
  font-weight: 700;

  & .icon {
    margin-left: 0;
    margin-right: var(--spacing-2);
  }
}

.is-small {
  min-height: var(--spacing-6);
  padding: 0 var(--spacing-5);
  font-size: var(--font-size-base);

  & .icon {
    margin-left: calc(var(--spacing-2) * -1);
    margin-right: var(--spacing-3);
  }
}

.is-primary {
  background-color: var(--color-pink-vivid-500);

  &::before {
    background-color: var(--color-pink-vivid-400);
  }
}

.is-tertiary {
  background-color: var(--color-indigo-900);

  &::before {
    background-color: var(--color-indigo-700);
  }
}

.is-destructive {
  background-color: var(--color-red-vivid-700);

  &::before {
    background-color: var(--color-red-vivid-500);
  }
}

.spinner {
  border-color: #ffffff75;
  border-left-color: #fff;
}
