.link {
  display: block;
  transition: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  color: initial;
  text-decoration: none;
  transform: scale(1);

  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  overflow: hidden;
  margin-bottom: calc(var(--spacing-5) * -1);
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
  padding-bottom: var(--spacing-5);
  color: var(--color-white);
  border-top-left-radius: var(--border-radius-xl);
  text-shadow: 0 1px 0px var(--color-sherpa-blue-900),
    1px 0 0px var(--color-sherpa-blue-800),
    1px 2px 0px var(--color-sherpa-blue-900),
    2px 1px 0px var(--color-sherpa-blue-800),
    2px 3px 0px var(--color-sherpa-blue-900),
    3px 2px 0px var(--color-sherpa-blue-800);
}

.heading {
  overflow: hidden;
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-4);
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  font-weight: 700;
  text-align: center;
  text-overflow: ellipsis;
  whitespace: nowrap;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-right: var(--spacing-3);
  margin-left: var(--spacing-3);
  margin-top: var(--spacing-3);
  padding-right: var(--spacing-3);
  padding-left: var(--spacing-3);
  background-color: var(--color-white);
  border-bottom-right-radius: var(--border-radius-xl);
}
