.row {
  --outdent: 0px;

  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--spacing-10);

  &::before {
    content: '';
    position: absolute;
    top: calc(var(--spacing-2) / 2 * -1);
    left: calc(var(--outdent) * -1);
    display: block;
    width: calc(100% + (var(--outdent) * 2));
    height: var(--spacing-2);
    background-image: var(--type-gradient);
  }
}

.sprite {
  width: var(--spacing-8);
  height: var(--spacing-8);
  margin-right: var(--spacing-4);
}

.title {
  margin-bottom: var(--spacing-2);
  font-weight: 700;
  line-height: 1;
}
