.outline {
  stroke: var(--color-cool-grey-900);
  stroke-width: 5;
}

.centre {
  fill: var(--color-cool-grey-900);
}

.bottom,
.highlight-blob {
  fill: var(--color-white);
}

.highlight {
  stroke: var(--color-white);
  stroke-width: 4;
}

.top {
  fill: var(--color-red-vivid-500);
}
